.product_card {
    max-width: 265px;
    width: 100%;
    min-width: 150px;
    padding: 10px;
    /*margin: 15px auto;*/
    background-color: var(--m-bg-100);
    border-radius: 15px;
    border: 1px solid var(--main-borders);
    color: var(--m-accent-400);

    @media (max-width: 510px) {
        max-width: 280px;
    }

    /*@media (max-width: 767px) {
        width: 290px;
        margin: 30px auto;
    }*/

    &:hover {
        .product_card__btn {
            &:before,
            &:after {
                left: 0px;
            }
        }

        & .product_card__price {
            left: 10px;
            transform: translateY(-50%);
        }

        & .product_card__add_to_cart {
            left: 50%;
            color: var(--m-accent-400);
        }

        & .product_card__img {
            filter: blur(7px);
            /*filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');*/
            opacity: 0.4;
        }

        & .product_card__inner {
            bottom: 105px;
        }

        & .product_card__available {
            transition-delay: 100ms;
            bottom: 60px;
            opacity: 1;
        }
    }

    &__info {
        width: 100%;
        height: 240px;
        position: relative;
        overflow: hidden;
        text-align: center;
        margin-bottom: 8px;
    }

    &__img {
        transition: all 500ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 100%;

    }

    &__details {
    }

    &__inner {
        padding: 8px 5px;
        transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        position: absolute;
        bottom: 10px;
        left: 5px;
        right: 5px;
        width: fit-content;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(15px);
        border-radius: 15px;
    }

    &__name,
    &__producer {
        display: block;
    }

    &__name {
        font-size: 18px;
        margin-bottom: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @media (max-width: 510px) {
            font-size: 16px;
        }
    }

    &__producer {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--m-accent-200);
        @media (max-width: 510px) {
            font-size: 14px;
        }
    }


    &__available {
        transition: all 200ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        position: absolute;
        width: 100%;
        bottom: -20px;
        color: var(--m-accent-300);
        opacity: 0;

        @media (max-width: 510px) {
            font-size: 14px;
        }

        & span {
            color: var(--m-accent-400);
        }
    }

    &__btn {
        width: 100%;
        height: 60px;
        position: relative;
        overflow: hidden;

        &:before,
        &:after {
            content: "";
            transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
            transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
            height: 100%;
            background-color: var(--m-accent-100);
            position: absolute;
            left: -657px;
            z-index: 1;
        }

        &:before {
            width: 660px;
        }

        &:after {
            width: 100%;
            background-color: var(--m-primary-200);
        }
    }


    &__cart {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        z-index: 20;
        color: var(--m-accent-300);


    }

    &__price {
        transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        /* ease-out */
        transition-delay: 100ms;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        line-height: 14px;
        color: inherit;
    }

    &__add_to_cart {
        transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
        transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
        transition-delay: 100ms;
        display: block;
        position: absolute;
        top: 50%;
        left: 120%;
        transform: translate(-50%, -50%);

        & span {
            /*font-size: 14px;*/
            font-size: 35px;
            color: inherit;
            line-height: 14px;
            letter-spacing: 0.045em;
            text-transform: uppercase;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


}
