.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    &__img {
        border-radius: 10px;
        overflow: hidden;
        display: block;
        margin: 0 auto;
        //width: 100%;
        //height: 300px;
        width: 100%;
        max-width: 440px;
        object-fit: cover;
    }
}

.thumb {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //padding: 0 10px;

    &__img {
        border-radius: 10px;
        overflow: hidden;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

