.slider {
    & ul {
        position: static;
        gap: 15px;
        min-height: 90px;
        padding: 10px;
        /*display: flex !important;
        justify-content: flex-start !important;
        flex-wrap: wrap;
        width: 380px;
        max-width: 380px;*/
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        width: fit-content;
        margin: 0 auto;

        & button{
            display: none;
        }
        & :global(.slick-arrow ) {
            top: 30%;

            & :global(.slick-next ){
                top: 20%!important;
            }
        }


        & li {
            display: block;
            position: static;
            margin: 0 auto;
            height: 70px;
            width: 100%;
            max-width: 100px;
        }
    }
}

