
.category {
    &__root {
        text-decoration: none;
        color: var(--m-accent-400);
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 600px;
        width: 100%;
        border-radius: 15px;
        background-color: var(--m-bg-100);
        border: 1px solid var(--main-borders);
        padding: 20px 20px 40px 0;
        transition: border 0.3s ease-in-out;

        @media (max-width: 560px) {
            padding: 15px 10px 30px 0;
        }

        &:hover {
            border: 1px solid var(--m-accent-400);

        }
    }

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        word-break: break-word;
        gap: 20px;
        width: 100%;
    }

    &__info{


    }

    &__title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 10px;
        padding-left: 20px;
        max-width: 250px;
    }

    &__desc {
        display: flex;
        align-items: center;
        padding: 20px 25px;
        background-color: var(--main-borders);
        border-radius: 0 20px 20px 0;
        max-width: clamp(200px, 500px, 500px);
        /*height: 168px;*/
        height: 168px;
        width: 100%;
        box-shadow: rgba(255, 247, 191, 0.4) 5px 5px, rgba(255, 247, 191, 0.3) 10px 10px, rgba(255, 247, 191, 0.2) 15px 15px, rgba(255, 247, 191, 0.1) 20px 20px, rgba(255, 247, 191, 0.05) 25px 25px;
        @media (max-width: 560px) {
            padding: 10px 8px;
        }

        & p {
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &__sceleton {
        max-width: 250px;
        min-height: 350px;
        width: 100%;
    }

    &__arrow {
        font-size: 40px;
    }
}
